@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Finlandica+Text:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
}
header .hed-up {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
header .hed-up ul {
  display: flex;
  gap: 70px;
  list-style-type: none;
}
header .hed-up ul li {
  border: none;
}
header .hed-up ul li:hover {
  border-bottom: 1px solid #ff0039;
}
header .hed-up ul li a {
  text-decoration: none;
  color: #9496ac;
}
header .hed-up .hed-r {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .hed-up .hed-r p {
  font-size: 10px;
}
header .hed-up .hed-r a {
  width: 142px;
  height: 28px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0039;
  border-radius: 8px;
  color: white;
}
header .hed-up .hed-r button {
  background: transparent;
  border: none;
  color: #9496ac;
}
header .hed-d {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  width: 115px;
  height: 60px;
}
header ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
header ul .a {
  text-decoration: none;
  color: #9496ac;
  font-size: 13px;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
}
#main .cards {
  width: 1128px;
  height: 827px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f5;
}
#main .cards .card {
  margin-top: 63px;
  display: flex;
  gap: 100px;
}
#main .cards .card img {
  width: 480px;
  height: 304px;
}
#main .cards .card .txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#main .cards .card .txt h2 {
  font-size: 40px;
}
#main .cards .card .txt p {
  color: #52575c;
}
#main .cards .card .bu {
  display: flex;
  gap: 15px;
}
#main .cards .card .bu button {
  width: 131px;
  height: 60px;
  background-color: white;
  border: none;
  border-radius: 10px;
}
#main .cards .card .bu button a {
  text-decoration: none;
  color: #ec3342;
  font-size: 14px;
}
#main .cards .card-u {
  padding-top: 50px;
  display: flex;
  gap: 15px;
}
#main .cards .card-u .card-u-up {
  display: flex;
  width: 528px;
  height: 180px;
  border-radius: 15px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
#main .cards .card-u .card-u-up:hover {
  box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.73);
}
#main .cards .card-u .card-u-up .txt {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 74px;
  padding-left: 37px;
}
#main .cards .card-u .card-u-up .txt p {
  font-size: 15px;
  color: #52575c;
}
#main .cards .card-u .card-u-up .txt h3 {
  font-size: 15px;
}
#main .cards .card-u .card-u-up img {
  width: 228px;
  height: 156px;
  margin-top: 25px;
}
#main .cards .cards-l {
  padding: 20px;
  display: flex;
  gap: 15px;
}
#main .cards .cards-l .card-r {
  width: 344px;
  height: 180px;
  display: flex;
  border-radius: 15px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
#main .cards .cards-l .card-r:hover {
  box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.73);
}
#main .cards .cards-l .card-r .txt {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 37px;
}
#main .cards .cards-l .card-r .txt p {
  font-size: 13px;
  color: #52575c;
}
#main .cards .cards-l .card-r .txt h3 {
  font-size: 15px;
}
#main .cards .cards-l .card-r img {
  width: 149px;
  height: 155px;
  margin-top: 24px;
}

#mobil {
  width: 100%;
  height: 640px;
  display: flex;
  padding: 52px;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/mobile_widget_bg_0f0cb4d27c.png);
  text-align: center;
}
#mobil img {
  width: 360px;
  height: 397px;
}
#mobil h1 {
  font-size: 52px;
}
#mobil p {
  font-size: 17px;
}
#mobil .app {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
#mobil .app img {
  width: 144px;
  height: 144px;
}
#mobil .app .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#mobil .app .buttons a {
  width: 192px;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #25282b;
  border-radius: 11px;
}
#mobil .app .buttons a i {
  font-size: 30px;
  color: white;
}
#mobil .app .buttons a .txt p {
  font-size: 14px;
}

#kart {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}
#kart .bir {
  width: 1128px;
  height: 312px;
  background-color: #25282b;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 70px;
  border-radius: 15px;
}
#kart .bir .text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#kart .bir .text h2 {
  color: white;
}
#kart .bir .text p {
  color: white;
}
#kart .bir .text a {
  width: 223px;
  height: 56px;
  background-color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}
#kart .bir .text a i {
  color: black;
}/*# sourceMappingURL=style.css.map */